<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HPR | Rotator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    
</head>
<body>
  <div class="main-div">
    <div class="top-div">
      <div class="data-display-div">
        <div class="data">
          <div class="data-point">
            <p>Latitude, Longitude</p>
            <p id="latitude"></p>
            <p id="longitude"></p>
          </div>
          <div class="data-point">
            <p>GPS altitude, Baro altitude (meters)</p>
            <p id="altitude"></p>
            <p id="baroAltitude"></p>
          </div>
        </div>
        <div class="data">
          <div class="data-point">
            <p>Speed (m/s)</p>
            <p id="speed"></p>
          </div>
          <div class="data-point">
            <p>Temperature (°C)</p>
            <p id="temperature"></p>
          </div>
          <div class="data-point">
            <p>Signal (RSSI, SNR)</p>
            <p id="rssi"></p>
            <p id="snr"></p>
          </div>
          <div class="data-point">
            <p>Distance to balloon (km)</p>
            <p id="distance"></p>
          </div>
        </div>       
        <div class="button-group">
          <button id="pingRequest">Request PING</button>
          <button id="dataRequest">Request DATA</button>
          <button id="sendOffRequest">Request DATA SEND OFF</button>
          <button id="sendOnRequest">Request DATA SEND ON</button>
          <button id="buzzerOffRequest">Request BUZZER OFF</button>
          <button id="buzzerOnRequest">Request BUZZER ON</button>
          <button id="detachRequest">Request DETACH</button>
          <button id="predictionRequest">Request LANDING PREDICTION</button>
        </div>
        <p>Update map</p>
        <label class="switch">
          <input id="mapSwitch" type="checkbox" checked>
          <span class="slider round"></span>
        </label>
        <div class="data-point">
          <p>Custom angles (Azimuth, Elevation)</p>
          <input type="number" id="azimuth" min="0" max="360" />
          <input type="number" id="elevation" min="0" max="90" />
          <button id="anglesRequest">Request CUSTOM ANGLES</button>
        </div>
        <div class="data-point">
          <p>Custom coordinates (Latitude, Longitude, Altitude)</p>
          <input type="number" id="lat" min="-80" max="80" />
          <input type="number" id="lng" min="-80" max="80" />
          <input type="number" id="alt" min="0" max="35000" />
          <button id="coordinatesRequest">Request CUSTOM COORDINATES</button>
        </div>
      </div>
      <iframe class="map-div" id="map" src="/map"></iframe>
    </div>
    <div class="bottom-div">
      <textarea style="height: 125px; width:auto;" readonly id="rawReceivedData"></textarea>
    </div>
  </div>

  <script src="{{url_for('static', filename='javascript/data.js')}}"></script>
</body>
</html>